<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.michelepiccirillo.paperplane"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_PROFILE" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:name="it.michelepiccirillo.paperplane.PaperPlane">
        
        <activity 
            android:name="it.michelepiccirillo.paperplane.SetupActivity"
            android:theme="@style/SplashTheme"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="it.michelepiccirillo.paperplane.MainActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="it.michelepiccirillo.paperplane.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName="it.michelepiccirillo.paperplane.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.michelepiccirillo.paperplane.MainActivity" />
        </activity>
        
        
        
        <service android:name="NetworkingService"></service>
    </application>

</manifest>